extends layouth

append jscss
    
append content
    //-     Historial de pagos
    .col.full
        ul.collection.z-depth-1
            li.collection-item.avatar.pt-3.pb-3
                img.icon.circle(src="/img/icons/indigo/icons8_Graph_50px.png")
                h6.collection-header.bold Cobros
                p Cobros realizados
            - var n = 0
            for cliente in clientes
                form(name= cliente.id_cli, method='post', action=`/asesor/pago/+${cliente.id_cli}`, actived-second_part="false")
                    li.collection-item
                        .row.mb-0
                            .col.five_twelfths
                                p.collections-title= cliente.nom_cli
                                p.collections-content= `Falta: $${prestamos[n].mof_pre}`
                            .col.seven_twelfths
                                h5.grey-text.text-darken-4=  `Pago: $${ prestamos[n].mod_pre}`
