extends layouth

append jscss
    
append content
    section.margin.beautyCard.floating.white
        .container.margin-t
            p.margin0.marginy 
                img.icon.va-middle.margin-r(src="/img/icons/indigo/icons8_Stocks_50px.png", alt="")
                b.deep-purple-text.text-darken-2 Cobros de hoy
        .divider
        .section.row
            .data.inline.w.third
                h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Nombre
            .data.inline.w.third
                h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Pago diario
            .data.inline.w.third
                h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Monto faltante
        - var n = 0
        while n < (clientes.length < 10 ? clientes.length : 10)
            .section.row
                .data.inline.w.third
                    h5.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= clientes[n].nom_cli
                .data.inline.w.third.row
                    .w.sixth &nbsp;
                    h5.va-middle.ha-middle.w.twothird
                        b.light-blue-text.text-darken-3.blocked= prestamos[n].mod_pre
                .data.inline.w.third.row
                    .w.sixth &nbsp;
                    h5.va-middle.ha-middle.w.twothird
                        b.light-blue-text.text-darken-3.blocked= prestamos[n].mof_pre
