extends layouth

append content
    .content-sesion
        .w-m-5.h-s-half
            h3 Agregar usuario   
            form(method='post', action='/admin/agregarusuario')
                .camp    
                    p.w-6.befor-ipt Nombre de usuario
                    .ipt.w-6
                        input.w-85(type='text',name='username', required)
                        img(src='/img/icons/icons8_Eye_32px.png')
                .camp    
                    p.w-6.befor-ipt Contraseña 
                    .ipt.w-6
                        input.w-85(type='password', name='password',required)
                        img(src='/img/icons/icons8_Eye_32px.png')
                .camp    
                    p.w-6.befor-ipt Confirmar contraseña nueva
                    .ipt.w-6
                        input.w-85(type='password',name='repassword', required)
                        img(src='/img/icons/icons8_Eye_32px.png')
                .camp    
                    p.w-6.befor-ipt Nombre
                    .ipt.w-6
                        input.w-85(type='text',name='nombre', required)
                
                .camp    
                    p.w-6.befor-ipt Email
                    .ipt.w-6
                        input.w-85(type='text',name='email', required)
                        
                .camp    
                    p.w-6.befor-ipt Telefono
                    .ipt.w-6
                        input.w-85(type='text',name='tel', required)
                .camp    
                    p.w-6.befor-ipt Dir casa
                    .ipt.w-6
                        input.w-85(type='text',name='dirc')      
                .camp    
                    p.w-6.befor-ipt Dir n
                    .ipt.w-6
                        input.w-85(type='text',name='dirn')
                .camp    
                    p.w-6.befor-ipt Superior
                    .ipt.w-6
                        input.w-85(type='text',name='supe', required)
                .camp    
                    p.w-6.befor-ipt Zona
                    .ipt.w-6
                        input.w-85(type='text',name='zona', required)
                .camp    
                    p.w-6.befor-ipt Tipo de usuario
                    .ipt.w-6
                        input.w-85(type='text',name='tipo', required)
                
                input.btn(type='submit', value='Registrar')
        div
          p Aquí abajo va el mensaje 
          p= message  
          
