.col.full
    .card
        li.card-header.deep-orange.accent-2
            .card-title
                img.icon-big.margin.right(src="/img/icons/white/icons8_Credit_Card_50px.png", alt="")
                h4.flight-card-title.inline Registra a un usuario
        .white
            .card-content.white
                .row
                    form#Agregarusu(method='post', action='/admin/agregarusuario')
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input(type='text',name='username', placeholder='Usuario',  required)
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input(type='password', name='password', placeholder='Contraseña', required)
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input(type='password',name='repassword', placeholder='Confirmar contraseña',  required)
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input(type='text',name='nombre', placeholder='Nombre completo',  required)
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input(type='text',name='email', placeholder='Correo electronico',  required)
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input(type='text',name='tel', placeholder='Telefono',  required)
                        .camp
                            .input-field.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                select(name='tipo', form="Agregarusu", required)
                                    option(disabled selected) Tipo de usuario
                                    option(value="1") Cliente
                                    option(value="2") Asesor
                                    option(value="3") Gerente
                        div#extracamp
                        .camp
                            .ipt.col.full.m-three_quarters.l-two_thirds.xl-seven_twelfths
                                input.btn(type='submit', value='Registrar')
    div
      p= message  
      
