extends layouth

append jscss

append content
    .rows
        .col.s4
            h1 Conoce a tu asesor
  
    blockquote  
        h2= user.nom_usu
  
    br
    .divider
    .section
        p Nombre de tu asesor actual:
        p= asesor.nom_ase
        p Email:
        p= asesor.ema_ase
        p Telefono:
        p= asesor.tel_ase
          
