extends layouth

append jscss

append content
  .rows
    .col.s4
      h1 Conoce a tu asesor
  
  blockquote  
    h2= user.nom_usu
  
  br
  for as in ase
    .divider
    .section
        p Nombre de tu asesor actual: #{as.nom_ase}
        p Email: #{as.ema_ase}
        p Telefono: #{as.tel_ase}  
          
