//-    asidebar
li.bold.border-b
    a.waves-effect.waves-cyan(href="/Inicio")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Home_50px.png" alt="")
        span.ml-5.indigo-text Inicio
li.bold.border-b
    a.waves-effect.waves-cyan(href="/admin/agenda")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_New_Contact_50px.png" alt="")
        span.ml-5.indigo-text Agenda
li.bold.border-b
    a.waves-effect.waves-cyan(href="/admin/agprestamo")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Handshake_50px.png" alt="")
        span.ml-5.indigo-text Agregar Prestamo
li.bold.border-b
    a.waves-effect.waves-cyan(href="/registrar")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Team_50px.png" alt="")
        span.ml-5.indigo-text Registrar
li.bold.border-b
    a.waves-effect.waves-cyan(href="/sesion")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Access_50px.png" alt="")
        span.ml-5.indigo-text Sesión
