//-    asidebar
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/Inicio')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Home_50px.png" alt="")
        span.ml-5.indigo-text Inicio
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/asesor/cartera')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Team_50px.png" alt="")
        span.ml-5.indigo-text Cartera
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/asesor/cobros')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Handshake_50px.png" alt="")
        span.ml-5.indigo-text Cobros
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/sesion')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Access_50px.png" alt="")
        span.ml-5.indigo-text Sesión
