//-    asidebar
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/Inicio')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Home_50px.png" alt="")
        span.ml-5.indigo-text Inicio
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/asesor')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_New_Contact_50px.png" alt="")
        span.ml-5.indigo-text Agenda
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/admin/agprestamo')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Handshake_50px.png" alt="")
        span.ml-5.indigo-text Agregar Prestamo
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/registrar')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Team_50px.png" alt="")
        span.ml-5.indigo-text Registrar
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/sesion')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Access_50px.png" alt="")
        span.ml-5.indigo-text Sesión
