//-    asidebar
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/Inicio')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Home_50px.png" alt="")
        span.ml-5.indigo-text Inicio
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/gerente/agenda')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Team_50px.png" alt="")
        span.ml-5.indigo-text Agenda
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/Localizacion')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Handshake_50px.png" alt="")
        span.ml-5.indigo-text Localizacion
li.bold.border-b.chat-animation
    img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Chat_50px.png" alt="")
    span.ml-5.indigo-text Chat
li.bold.border-b
    a.waves-effect.waves-cyan(onclick="go('/sesion')")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Access_50px.png" alt="")
        span.ml-5.indigo-text Sesión
