//-    asidebar
li.bold.border-b
    a.waves-effect.waves-cyan(href="/Inicio")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Home_50px.png" alt="")
        span.ml-5.indigo-text Inicio
li.bold.border-b
    a.waves-effect.waves-cyan(href="/cliente/asesor")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_User_50px.png" alt="")
        span.ml-5.indigo-text Tu Asesor
li.bold.border-b.chat-animation
    img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Chat_50px.png" alt="")
    span.ml-5.indigo-text Chat
li.bold.border-b
    a.waves-effect.waves-cyan(href="/sesion")
        img.nav-icon.va-middle(src="/img/icons/indigo/icons8_Access_50px.png" alt="")
        span.ml-5.indigo-text Sesión
