//-    chat container
.chat-container.col.full.h-full.row.hidden-l.p-0
    //-    necessary scripts
    script(src="/js/chatcliente.js")
    script(src="http://31.220.53.147:8081/socket.io/socket.io.js")
    script(src="/js/jquery.min.js")
    script(src="/js/jquery-3.3.1.min.js")
    //-    chat
    .chat.h-full.col.five_sixths.m-half.l-third.blue-grey.lighten-5.floating.display-container.p-0
        .col.full.scroller.chattext
            ol#chat
                li.yo
                    .msg
                        p Hola Cliente 
                        p Si tienes alguna duda o queja 
                        p puedes hacerlo por este medio.
                        p Mandanos un mensaje!.
                        span.remitente Gerentes de PEN
                li.other
                    .msg
                        p Manda un mensaje...
                        span.remitente Yo
        input#message-text.textarea.display-bottomright.blue-grey.lighten-4(type="text", name="msgR", placeholder="Escribe tu mensaje!", style="margin: 0; padding: 0;", required)
            
        //- ul(id="chat")
        //- div
        //-     input#message-text(type='text' , placeholder='Mensaje', required)
        //-     input#enviar(type='button', value='Enviar')
    //-    catch animation
    .catch-chat.h-full.col.sixth.m-half.l-twothird
