//-    chat container
.chat-container.col.full.h-full.row.hidden-l.p-0
    //-    necessary scripts
    script(src="/js/chatcliente.js")
    script(src="http://31.220.53.147:8081/socket.io/socket.io.js")
    script(src="/js/jquery.min.js")
    script(src="/js/jquery-3.3.1.min.js")
    //-    chat
    .chat.h-full.col.five_sixths.m-half.l-third.blue-grey.lighten-5.floating.display-container.p-0
        .col.full.scroller.chattext
            ol#chat
                li.yo
                    .msg
                        p Puff...
                        p Aún estoy haciendo la antologia...
                        p Mejor otro día
                        span.remitente Saúl
                li.other
                    .msg
                        p Qué antologia?
                        span.remitente Angel
        input#message-text.textarea.display-bottomright(type="text", name="msgR", placeholder="Escribe tu mensaje!", required)
            
        //- ul(id="chat")
        //- div
        //-     input#message-text(type='text' , placeholder='Mensaje', required)
        //-     input#enviar(type='button', value='Enviar')
    //-    catch animation
    .catch-chat.h-full.col.sixth.m-half.l-twothird
