extends layouth

block jscss
    
block content
    script(src="/js/socket.io.js")
    script(src="/js/chatcliente.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    h1 Chatea con un gerente
    .messages
        ul(id="chat")
        form(id="chat-form")
          input(type="text", id="message-text", placeholder="Tu Mensaje", required)
          button Enviar
