doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error
        link(rel='stylesheet', href='/css/error.css')
    body(style="height: 100%; background-color: #F06061; color: #EEEEEE; align-content: center; font-size: 200%;")
        a(href="/inicio", style="text-decoration: none; color: inherit;")
            div(style="height: 60%; overflow-y: overlay; position: relative; width: 100%;")
                div(style="transform: translate(-50%, -50%); position: absolute; top:50%; left:50%;")
                    h1(style="margin-top: 20px;") ERROR
                    div(style="margin: 20px 0")
                        .divider.inline(style="max-width: 30%;")
                        .shadow-text.inline X
                        .divider.inline(style="max-width: 30%;")
                    //- h1= message
                    h3 Ha ocurrido un error con la base de datos.

        pre(style="height: 40%; overflow-y: overlay; padding: 0 20px; margin: 0; text-align:left; font-size:0.75em")= message
