extends layouth

append jscss
    link(rel='stylesheet', href='/css/cliente.css')
append content
    
    if user.id_tus == 1
      p hola cliente
    else if user.id_tus == 2
      p hola desconocido
    else if user.id_tus == 3
      p hola desconocido
    else 
      p necesitas iniciar sesion
