extends layout

block content
    .bg.bg-log
    .content
        .header
            img(src="/img/logo.png", alt="Fondo de Inicio de Sesion")
        .log
            h2.subtitle Inicio de Sesión
            
            form(action='/iniciosesion', method='post')
                input.log-in(type="text", name="username", placeholder="Nombre de Usuario" maxlength="20", required, autofocus)
                input.log-in(type="password", name="password", placeholder="Contraseña", maxlength="20", required)
                input.log-in.in-log(type="submit", name="logear", value="Iniciar Sesion")
                
            if message.length > 0
                p(style='margin: 5% !important; background-color: #ff0c0cab; padding: 1% !important; border-radius: 5px;')= message
        .footer
            .terminos
                a(href="politicas.html")
                    p Leer Términos y Condiciones
