doctype html
html(lang='es')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel='stylesheet', href='/css/master.css')
        block jscss
    body
        div.nav.flexbox
            div.logo-area.w-1
                img.logo(src='/img/logo.png')
            div.options.flexbox.w-9
                include navcli
        .content
            block content
