doctype html
html(lang='es')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel='stylesheet', href='/css/layout.css')
        <!-- production version, optimized for size and speed -->
        script(src="https://cdn.jsdelivr.net/npm/vue")
    body
        block content
