doctype html
html(lang='es')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel='stylesheet', href='/css/master.css')
        script(src='/js/jquery-3.3.1.min.js')
        script(src='/js/control.js')
        block jscss
    body
        .nav.flexbox
            .logo-area.w-1.hidden-sm
                img.logo(src='/img/logo.png')
            .options.flexbox.w-9
                if user.id_tus == 1
                  include navcli
                else if user.id_tus == 2
                  include navase
                else if user.id_tus == 3
                  include navger
                else if user.id_tus == 4
                  include navadm
        .content.flexbox
            block content
