.option
    a(href='/inicio')
        span
        p Inicio
.option
    a(href='/clientes')
        span
        p Clientes
.option
    a(href='/cobros')
        span
        p Chat
.option
    a(href='/sesion')
        span
        p Sesion
