.option
    a(href='/inicio')
        span
        p Inicio
.option
    a(href='/Agenda')
        span
        p Agenda
.option
    a(href='/estadisticas')
        span
        p Resultados
.option
    a(href='/ajustes')
        span
        p Ajustes
.option
    a(href='/sesion')
        span
        p Sesion
