.col.fifth.display-container.h-full
    a.col.full.h-full(href="/Inicio")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Home_50px.png", alt="")
            h3.hide_s.inline.p-0 Inicio
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/asesor")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_New_Contact_50px.png", alt="")
            h3.hide_s.inline.p-0 Agenda
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/admin/agprestamo")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Handshake_50px.png", alt="")
            h3.hide_s.inline.p-0 Agregar Prestamo           
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/registrar")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Team_50px.png", alt="")
            h3.hide_s.inline.p-0 Registrar
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/sesion")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Access_50px.png", alt="")
            h3.hide_s.inline.p-0 Sesión         
