.option.w-2
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span.hidden-s Inicio
.option.w-2
    a(href="/asesor")
        div
            img.icon(src="/img/icons/icons8_New_Contact_50px.png")
            span.hidden-s Agenda
.option.w-2
    a(href="/ingresos")
        div
            img.icon(src="/img/icons/icons8_Stocks_50px.png")
            span.hidden-s Ingresos
.option.w-2
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_Services_50px.png")
            span.hidden-s Ajustes
.option.w-2
    a(href='sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span.hidden-s Sesión
