<<<<<<< current
.option.w-2
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span Inicio
.option.w-2
    a(href="/asesor")
        div
            img.icon(src="/img/icons/icons8_New_Contact_50px.png")
            span Agenda
.option.w-2
    a(href="/ingresos")
        div
            img.icon(src="/img/icons/icons8_Stocks_50px.png")
            span Ingresos
.option.w-2
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_Services_50px.png")
            span Ajustes
.option.w-2
    a(href='sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span Sesión
=======
.option.w-2
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span.hidden-sm Inicio
.option.w-2
    a(href="/asesor")
        div
            img.icon(src="/img/icons/icons8_New_Contact_50px.png")
            span.hidden-sm Agenda
.option.w-2
    a(href="/ingresos")
        div
            img.icon(src="/img/icons/icons8_Stocks_50px.png")
            span.hidden-sm Ingresos
.option.w-2
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_Services_50px.png")
            span.hidden-sm Ajustes
.option.w-2
    a(href='sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span.hidden-sm Sesión
>>>>>>> before discard
