.option.w-25
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span.visible-s Inicio
.option.w-25
    a(href="/cliasesor")
        div
            img.icon(src="/img/icons/icons8_User_50px.png")
            span.visible-s Tu Asesor
.option.w-25
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_Chat_50px.png")
            span.visible-s Chat
.option.w-25
    a(href='sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span.visible-s Sesión
