.option.w-25
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span.hidden-s Inicio
.option.w-25
    a(href="/asesor")
        div
            img.icon(src="/img/icons/icons8_User_50px.png")
            span.hidden-s Tu Asesor
.option.w-25
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_Chat_50px.png")
            span.hidden-s Chat
.option.w-25
    a(href='sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span.hidden-s Sesión
