.option
    a(href='/inicio')
        span
        p Inicio
.option
    a(href='/Agenda')
        span
        p Agenda
.option
    a(href='/ubicacion')
        span
        p Ubicaciones
.option
    a(href='/chat')
        span
        p Chat
.option
    a(href='/sesion')
        span
        p Sesion
