.col.fifth.display-container.h-full
    a.col.full.h-full(href="/Inicio")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Home_50px.png", alt="")
            h3.hide_s.inline.p-0 Inicio
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/gerente/agenda")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Team_50px.png", alt="")
            h3.hide_s.inline.p-0 Agenda
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/Localizacion")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Handshake_50px.png", alt="")
            h3.hide_s.inline.p-0 Localizacion
.col.fifth.display-container.h-full.chat-animation
    .white-text.truncate.ha-middle.display-middle(title="Inicio")
        img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Chat_50px.png", alt="")
        h3.hide_s.inline.p-0 Chat
.col.fifth.display-container.h-full
    a.col.full.h-full(href="/sesion")
        .white-text.truncate.ha-middle.display-middle(title="Inicio")
            img.nav-icon.va-middle.margin-r(src="/img/icons/white/icons8_Access_50px.png", alt="")
            h3.hide_s.inline.p-0 Sesión
