.option.w-2
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span Inicio
.option.w-2
    a(href="/agenda")
        div
            img.icon(src="/img/icons/icons8_New_Contact_50px.png")
            span Agenda
.option.w-2
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_REgion_50px.png")
            span Localizacion
.option.w-2
    a(href="/chat")
        div
            img.icon(src="/img/icons/icons8_Chat_50px.png")
            span Chat
.option.w-2
    a(href='sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span Sesión
