.option.w-2
    a(href="/inicio")
        div
            img.icon(src="/img/icons/icons8_Home_50px_2.png")
            span.visible-s Inicio
.option.w-2
    a(href="/gerente/agenda")
        div
            img.icon(src="/img/icons/icons8_New_Contact_50px.png")
            span.visible-s Agenda
.option.w-2
    a(href="/gerente/chat")
        div
            img.icon(src="/img/icons/icons8_REgion_50px.png")
            span.visible-s Localizacion
.option.w-2
    a(href="/gerente/chat")
        div
            img.icon(src="/img/icons/icons8_Chat_50px.png")
            span.visible-s Chat
.option.w-2
    a(href='/sesion')
        div
            img.icon(src="/img/icons/icons8_Access_50px.png")
            span.visible-s Sesión
