extends layouth

append content
    .subcontent
        .w-m-5.h-s-half
            h3 Cambiar Contraseña   
            form(method='post', action='this')
                .camp    
                    p.w-6.befor-ipt Contraseña antigua
                    .ipt.w-6
                        input.w-85(type='password', required)
                        img(src='/img/icons/icons8_Eye_32px.png')
                .camp    
                    p.w-6.befor-ipt Contraseña nueva
                    .ipt.w-6
                        input.w-85(type='password', required)
                        img(src='/img/icons/icons8_Eye_32px.png')
                .camp    
                    p.w-6.befor-ipt Confirmar contraseña nueva
                    .ipt.w-6
                        input.w-85(type='password', required)
                        img(src='/img/icons/icons8_Eye_32px.png')
                input.btn(type='submit', value='Cambiar contraseña')
        .w-m-5.h-s-half
            p Hola 
