style(type="text/css").
    div > input {
        margin-left: 42px !important;
    }
    #logout {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #save-changes {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.col.full.xl-half
    .card
        li.card-header.indigo.accent-2
            .card-title
                img.icon-big.margin.right(src="/img/icons/white/icons8_Credit_Card_50px.png", alt="")
                h4.flight-card-title.inline Cambiar contraseña
        .white
            .card-content.white
                .row.flight-state-wrapper
                    .col.full.m-two_thirds.l-seven_twelfths.ha-center
                        form#modify.w.full.container(method='post', action='/sesion', onsubmit='changePass(event)')
                            div.row.input-field.valign-wrapper.display-container
                                i.material-icons.prefix vpn_key
                                input#antigua.validate(name='contraactual', type='password', pattern=".{6,16}", required)
                                label(for='antigua') Contraseña antigua
                                span.helper-text.red-text
                            div.row.input-field.valign-wrapper.display-container
                                i.material-icons.prefix vpn_key
                                input#nueva.validate(name='newcontra', type='password', pattern=".{6,16}", required)
                                label(for='nueva') Contraseña nueva
                                span.helper-text.red-text
                            div.row.input-field.valign-wrapper.display-container
                                i.material-icons.prefix vpn_key
                                input#confirmacion.validate(name='connewcontra', type='password', pattern=".{6,16}", required)
                                label(for='confirmacion') Confirmar contraseña nueva
                                span.helper-text.red-text
                            div.row
                                button#modificar-pass.btn.inline(type="submit")
                                    i.material-icons.va-middle check
                                    span.va-middle Guardar cambios  
                            div.row
                                pre#message=message
    .center-align
        a(href='/logout')
            .btn Cerrar Sesion
    footer.p-2
        .center-align
            a(href='/politicas.html')
                .btn Leer términos y condiciones
    script(type="text/javascript", src="/js/materialize.min.js")
    script(type="text/javascript", src="/js/sesion_modify_validation.js")
