extends layouth
append jscss
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js")
    script(src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js")
append content
    .container
      .row
        form.col.s12
          .row 
            .input-field.col.s6
              i.material-icons.prefix  account_circle
              input.active.validate(placeholder="Contraseña actual" type="text" name="contraactual" id="contraactual")
              label(for="contraactual" required) Contraseña actual
            .input-field.col.s6
              label(for="newcontra") Contraseña Nueva  
              input.validate(placeholder="Nueva contraseña" type="password" name="newcontra" id="newcontra" required)
            
      
      .card-panel.teal.lighten-2
          p Aquí abajo va el mensaje 
          p= message  
                  
        
