extends layouth

append jscss
    script(type = "text/javascript", src = "https://code.jquery.com/jquery-2.1.1.min.js")
append content
    .row.h-full
        .w.s-full.m-full.l-half.xl-half.h-s-half.h-m-full.h-l-full.h-xl-full    
            b
                h3 Cambiar Contrase単a
            .divider
            form.w.full.container(method='post', action='/sesion')
                br
                .row
                    .input-field.valign-wrapper.display-container.w.l-threequarter.xl-threequarter
                        input#antigua.validate.w.xl-fivesixth(name='contraactual', type='password', data-length="10", required)
                        label(for='antigua') Contrase単a antigua
                        img.right(src='/img/icons/icons8_Eye_32px.png')
                br
                .row
                    .input-field.valign-wrapper.display-container.w.l-threequarter.xl-threequarter
                        input#nueva.validate.w.xl-fivesixth(name='newcontra', type='password', data-length="10", required)
                        label(for='nueva') Contrase単a nueva
                        img.right(src='/img/icons/icons8_Eye_32px.png')
                br
                .row
                    .input-field.valign-wrapper.display-container.w.l-threequarter.xl-threequarter
                        input#confirmacion.validate.w.xl-fivesixth(name='connewcontra', type='password', data-length="10", required)
                        label(for='confirmacion') Confirmar contrase単a nueva
                        img.right(src='/img/icons/icons8_Eye_32px.png')
                br
                .input-field.left.inline.text-white.red
                    span.helper-text= message
                .w.l-threequarter.xl-threequarter
                    input#submit.btn.hoverable.right(type='submit', value='Guardar cambios', disabled)
        .w.s-full.m-full.l-half.xl-half.display-container.h-s-half.h-m-half.h-l-full.h-xl-full
            .left-align
                a(href='/reporte-problema') 
                    .btn Informar de un problema
            .center-align
                a(href='/terminosycondiciones') Leer terminos y condiciones
            .display-bottommiddle
                a(href='/logout')
                    .btn.hoverable Cerrar sesion
    script(type = "text/javascript", src = "/js/materialize.min.js")
