extends layouth

append content
    .sesion
        .changes
            .title
                h3 Cambiar Contraseña
            .change-pass
                form(method='post', action='post')
                    .input-password-text
                        input(class='change', name='antigua', type='password', placeholder='Antigua Contraseña', title='Contraseña actual con la que inicia sesion' maxlength='22', required)
                        .change-visible
                            img
                    .input-password-text
                        input(class='change', name='nueva', type='password', placeholder='Nueva Contraseña', title='Contraseña con la cual ahora quiere iniciar sesion' maxlength='22', required)
                        .change-visible
                            img
                    .input-password-text.input
                        input(class='change', name='confirmacion', type='password', placeholder='Confirmar Contraseña', title='Confirmar la contraseña con la cual ahora quiere iniciar sesion' maxlength='22', required)
                        .change-visible
                            img
                    .submit.style-button
                        input(class='submit', type='submit', value='Cambiar Contraseña')
        .etc
            div
                a.link-sesion(href='/report-problem')
                    p Reportar algun problema
            div
                a.link-sesion(href='/Terminos Y Condiciones')
                    p Leer Terminos y Condiciones
            #logout.style-button
                a.link-sesion(href='/logout')
                    p Cerrar Sesion
