extends layouth
append jscss
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js")
    script(src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js")
append content
    .col.s12.m6.section.s-h-half
        h5 Cambiar Contraseña
        .divider
        form.col.s12(method='post', action='/sesion')
            .card-panel.teal.lighten-2
                p Aquí abajo va el mensaje 
                p= message  
            .section
                .row
                    .input-field.valign-wrapper
                        input#antigua.validate.col.s10(name='contraactual', type='password', data-length="10", required)
                        label(for='antigua') Contraseña antigua
                        img.right(src='/img/icons/icons8_Eye_32px.png')
            .section
                .row
                    .input-field.valign-wrapper
                        input#nueva.validate.col.s10(name='newcontra', type='password', data-length="10", required)
                        label(for='nueva') Contraseña nueva
                        img.right(src='/img/icons/icons8_Eye_32px.png')
            .section
                .row
                    .input-field.valign-wrapper
                        input#confirmacion.validate.col.s10(name='connewcontra', type='password', data-length="10", required)
                        label(for='confirmacion') Confirmar contraseña nueva
                        img.right(src='/img/icons/icons8_Eye_32px.png')
            .section.right-align
                input.btn.hoverable(type='submit', value='Guardar cambios')
    .col.s12.m6.s-h-half
        .left-align
            a(href='/reporte-problema') 
                .btn Informar de un problema
        .center-align
            a(href='/terminosycondiciones') Leer terminos y condiciones
        .center-align.bottom
            a(href='/logout') 
                .btn.hoverable Cerrar Sesion
