extends layouth

append jscss
    
append content
    .col.full.m-half.h-full.h-m-half.pb-5
        h4 Cambiar Contrase単a
        .divider
        form.col.full.container(method='post', action='/sesion')
            br
            .row
                .input-field.valign-wrapper.display-container.col.l-threequarter.xl-threequarter
                    input#antigua.validate.col.xl-fivesixth(name='contraactual', type='password', data-length="10", required)
                    label(for='antigua') Contrase単a antigua
                    img.right(src='/img/icons/icons8_Eye_32px.png')
            br
            .row
                .input-field.valign-wrapper.display-container.col.l-threequarter.xl-threequarter
                    input#nueva.validate.col.xl-fivesixth(name='newcontra', type='password', data-length="10", required)
                    label(for='nueva') Contrase単a nueva
                    img.right(src='/img/icons/icons8_Eye_32px.png')
            br
            .row
                .input-field.valign-wrapper.display-container.col.l-threequarter.xl-threequarter
                    input#confirmacion.validate.col.xl-fivesixth(name='connewcontra', type='password', data-length="10", required)
                    label(for='confirmacion') Confirmar contrase単a nueva
                    img.right(src='/img/icons/icons8_Eye_32px.png')
            br
            .input-field.left.inline.text-white.red
                span.helper-text= message
            .col.l-threequarter.xl-threequarter
                input#submit.btn.hoverable.right(type='submit', value='Guardar cambios', disabled)
    .col.full.m-half.h-full.h-m-half.display-container
        .left-align
            a(href='/reporte-problema') 
                .btn Informar de un problema
        .center-align
            a(href='/terminosycondiciones') Leer terminos y condiciones
        .display-middle
            a(href='/logout')
                .btn.hoverable Cerrar sesion
