extends layouth

append content
    .w-5
        h3 Cambiar Contraseña   
        form(method='post', action='this')
            p.befor-ipt Contraseña antigua
            .ipt.w-4
                input.w-85(type='password', required)
                img(src='/img/icons/icons8_Eye_32px.png')
            p.befor-ipt Contraseña nueva
            .ipt.w-4
                input.w-85(type='password', required)
                img(src='/img/icons/icons8_Eye_32px.png')
            p.befor-ipt Confirmar contraseña nueva
            .ipt.w-4
                input.w-85(type='password', required)
                img(src='/img/icons/icons8_Eye_32px.png')
            input.btn(type='submit', value='Cambiar contraseña')
    .w-5
        p Hola
