@import(url('https://fonts.googleapis.com/css?family=Patua+One'));
*
{
    font-family: 'Patua One';
    text-align: center;
}
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: 100;
    margin: 0;
}
.divider
{
    height: 4px;
    width: 250px;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgb(154, 24, 28);
}
.shadow-text
{
    text-shadow: 0px 3px 10px rgb(154, 24, 28);
}
.inline
{
    vertical-align: middle;
    display: inline-block;
}
