*
{
    padding: 0 !important;
    margin: 0 !important;
}
body, html
{
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.nav
{
    background-color: rgb(205, 220, 57);
	box-shadow: 0 0.5px 15px black;
	height: 6.5%;
	position: sticky;
	top: 0;
	max-height: 75px;
	min-height: 50px;
}
.nav-content
{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}
.nav-content, .logo
{
    height: 100%;
}
.logo
{
    position: relative;
    display: inline-block;
    max-width: 6.25%;
    left: 0;
}
.logo>img
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
}
.options
{
    display: inline-block;
    max-width: 93.73%;
    width: 93.73%;
}
.content
{
	height: 90%;
}
