*
{
    /*font-family: 'Roboto',sans-serif;*/
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    margin: 0 !important;
}
body, html
{
    height: 100%;
    overflow-y: hidden;
}
a
{
    text-decoration: none;
}
.nav
{
    background-color: rgb(62, 70, 123);
    bottom: 0;
    box-shadow: -1px 0 10px black;
    padding: 0.5vh 0;
    position: absolute;
    height: 5%;
    width: 100%;
}
.content
{
    padding: 10px;
    height: 94%;
    width: 100%;
}
.logo-area
{
    height: 100%;
}
.logo
{
    position: relative;
    height: 100% !important;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.options
{
    height: 100%;
    width: 100%;
}
.option
{
    height: 100%;
}
.option > a > div
{
    text-align: center;
    transform: translate(-50%, 0);
    position: relative;
    height: 100%;
    left: 50%;
}
.option > a > div > span, .icon
{
    vertical-align: middle;
}
.icon
{
    height: 80%;
}
.option > a > div > span
{
    margin-left: 5px;
    color: white;
    font-size: 3vmin;
}
.sesion
{
    display: block;
    height: 100%;
    width: 100%;
}
.changes, .etc
{
    display: block;
    height: 50%;
    width: 100vw;
}


.flexbox
{
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */

    /* W3C DEFINITION */
    display: flex;
    display: inline-flex;
}
.w-1 { width:  10%; }
.w-2 { width:  20%; }
.w-25 { width: 25%; }
.w-3 { width:  30%; }
.w-4 { width:  40%; }
.w-5 { width:  50%; }
.w-6 { width:  60%; }
.w-7 { width:  70%; }
.w-8 { width:  80%; }
.w-9 { width:  90%; }

/*    Rest devices    */
.hidden-sm { display: none; }
.hidden-s { display: none; }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
    .hidden-s { display: inline-block; }
    .nav, .content { position: relative; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .hidden-sm { display: inline-block; }
    .changes, .etc
    {
        display: inline-block;
        height: 100%;
        width: 50%;
    }
    .sesion
    {
        /* BROWSER DEFINITION */
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */

        /* W3C DEFINITION */
        display: flex;
        display: inline-flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
