*
{
    padding: 0 !important;
    margin: 0 !important;
}
body, html
{
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.nav
{
    background-color: rgb(205, 220, 57);
	box-shadow: 0 0.5px 15px black;
	height: 6.5%;
	position: sticky;
	top: 0;
	max-height: 75px;
	min-height: 50px;
}
.logo-area, .options-area, .option
{
    display: inline-block;
}
.logo-area
{
    height: 100%;
    padding: 0 1% !important;
}
#logo
{
    position: relative;
    max-height: 80%;
    top: 50%;
    transform: translate(0, -50%);
}
