/*         Carecteristicas Default         */
* { /*font-family: 'Roboto',sans-serif;*/ font-family: 'Product Sans',Arial,Helvetica,sans-serif; margin: 0 !important; }
.nav span { font-size: 3vmin; }
body, html { height: 100%; overflow-y: hidden; }
a { text-decoration: none; color: inherit; font-size: inherit; }
input { outline: none; }


body >.row{ padding-top: 20px; height: 95vh;}
.divider { margin: 10px 0 !important}
.vertical-wrapper{ position: relative;}
.vertical-wrapper > .bottom { position: absolute; bottom: 0;}
.s-h-half{ height: 50%;}

/*         Barra de Navegacion         */
.nav
{
    background-color: rgb(62, 70, 123);
    bottom: 0;
    box-shadow: -1px 0 10px black;
    padding: 0.5vh 0;
    position: absolute;
    height: 5vh;
    width: 100%;
}
.logo-area { height: 100%; float: left;}
.logo
{
    position: relative;
    height: 100% !important;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.options { height: 100%; width: 100%; }
.option { height: 100%; }
.option > a > div
{
    text-align: center;
    transform: translate(-50%, 0);
    position: relative;
    height: 100%;
    left: 50%;
}
.option > a > div > span, .icon { vertical-align: middle; }
.icon { height: 80%; }
.option > a > div > span
{
    margin-left: 5px;
    color: white;
    font-size: 3vmin;
}

/*         Ajustes para Responsive         */
.flexbox
{
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */

    /* W3C DEFINITION */
    display: flex;
    display: inline-flex;
}

.w-1   { width:  10%; }
.w-2   { width:  20%; }
.w-25  { width:  25%; }
.h-s-half { height: 50% !important;}

[class*='visible-'] { display: none; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px)
{
    .visible-s { display: inline-block; }
    .nav, .content { position: relative; }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px)
{
    .visible-m { display: inline-block; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
